<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: gray;">

<h1 style="text-align: center;">Predict Heart Disease or Not</h1>
<form method="post" action="/predict">
    <fieldset style="background-color: darkgray ; text-align: center;">
        <label>radius_mean : </label><input type="number" name="radius_mean" step="any"><br>
        <label>texture_mean : </label><input type="number" name="texture_mean" step="any"><br>
        <label>perimeter_mean : </label><input type="number" name="perimeter_mean" step="any"><br>
        <label>area_mean : </label><input type="number" name="area_mean" step="any"><br>
        <label>smoothness_mean : </label><input type="number" name="smoothness_mean" step="any"><br>
        <label>compactness_mean : </label><input type="number" name="compactness_mean" step="any"><br>
        <label>concavity_mean : </label><input type="number" name="concavity_mean" step="any"><br>
        <label>concave points_mean : </label><input type="number" name="concave points_mean" step="any"><br>
        <label>symmetry_mean : </label><input type="number" name="symmetry_mean" step="any"><br>
        <label>fractal_dimension_mean : </label><input type="number" name="fractal_dimension_mean" step="any"><br>
        <label>radius_se : </label><input type="number" name="radius_se" step="any"><br>
        <label>texture_se : </label><input type="number" name="texture_se" step="any"><br>
        <label>perimeter_se : </label><input type="number" name="perimeter_se" step="any"><br>
        <label>area_se : </label><input type="number" name="area_se" step="any"><br>
        <label>smoothness_se : </label><input type="number" name="smoothness_se" step="any"><br>
        <label>compactness_se : </label><input type="number" name="compactness_se" step="any"><br>
        <label>concavity_se : </label><input type="number" name="concavity_se" step="any"><br>
        <label>concave points_se : </label><input type="number" name="concave points_se" step="any"><br>
        <label>symmetry_se : </label><input type="number" name="symmetry_se" step="any"><br>
        <label>fractal_dimension_se : </label><input type="number" name="fractal_dimension_se" step="any"><br>
        <label>radius_worst : </label><input type="number" name="radius_worst" step="any"><br>
        <label>texture_worst : </label><input type="number" name="texture_worst" step="any"><br>
        <label>perimeter_worst : </label><input type="number" name="perimeter_worst" step="any"><br>
        <label>area_worst : </label><input type="number" name="area_worst" step="any"><br>
        <label>smoothness_worst : </label><input type="number" name="smoothness_worst" step="any"><br>
        <label>compactness_worst : </label><input type="number" name="compactness_worst" step="any"><br>
        <label>concavity_worst : </label><input type="number" name="concavity_worst" step="any"><br>
        <label>concave points_worst : </label><input type="number" name="concave points_worst" step="any"><br>
        <label>symmetry_wors : </label><input type="number" name="symmetry_worst" step="any"><br>
        <label>fractal_dimension_worst'</label><input type="number" name="fractal_dimension_worst" step="any"><br>
        <p><label><strong>Predict Heart Disease or Not </strong></label></p>
        <button><strong>Predict</strong></button>
    </fieldset>
</form>
</body>
</html>